[Unit]
Description=Photogrammetry Auto-Start Service
After=set-datetime.service

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/sleep 15
ExecStart=/home/droneman/photogrammetry/build/main

[Install]
WantedBy=multi-user.target