[Unit]
Description=Auto-Start Photogrammetry control software
After=set-datetime.service

[Service]
User=root
Type=oneshot
ExecStartPre=/bin/sleep 15
ExecStart=/home/droneman/photogrammetry/build/main

[Install]
WantedBy=multi-user.target