[Unit]
Description=PyTak Client Auto-Start Service
After=network.target

[Service]
User=droneman
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/droneman/oi-cm4-toolkit/tak/PytakClient.py

[Install]
WantedBy=multi-user.target