[Unit]
Description=PyTak Client Auto-Start Service
# After=set-datetime.service # may not need this line

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/sleep 45
ExecStart=/usr/bin/python3 /home/droneman/oi-cm4-toolkit/tak/PytakClient.py

[Install]
WantedBy=multi-user.target