[Unit]
Description=Auto-Start QuSpin MAG logger
After=set-datetime.service

[Service]
User=root
Type=oneshot
ExecStartPre=/bin/sleep 25
ExecStart=/home/droneman/quspin-mag/build/main

[Install]
WantedBy=multi-user.target